:root {
    --background: #717b7a;
    --text: #00020d;
    --banner: #96acb0;
    --bannerVar: #6d858a;
    --bannerVar2: #5b6f73
}

.main {
    display: flex;
}

.panel {
    height: 100vh;
}

.left {
    background-image: url(Images/telecaster.jpg);
    background-size: cover;
    background-position: 50%;
    width: 30vw; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    margin-right: 0.6em;
    margin-left: 0.6em;
    filter: invert(92%) sepia(90%) saturate(3614%) hue-rotate(178deg) brightness(109%) contrast(108%);
}

.banner {
    width: 100%;
    padding: 10px;
    background-color: var(--banner);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: "custom-font";
    font-size: 2.7em;
    opacity: 0.75;
    
}

.right {
    width: 70vw; 
    background-color: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#upper-text {
    flex: 1;
    font-size: 1.5em;
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    color: var(--text);
    padding-top: 2em;
    padding-left: 6em;
    padding-right: 6em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
    
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 2;
    color: var(--text); background-color: var(--banner);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    z-index: 1;
    
}
fieldset {
    display: flex;
    width: 75%;
    
}

.field-rows {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    padding: 20px;
    margin-left: 20px;
    
}



input {
  width: 250px;
  height: 25px;
  margin-top: 3px;
  border-radius: 5px;
  border-style: none;
  padding-left: 5px;
}

input:hover {
  background-color: #f5f5f0;
}

input:focus {
  outline: none;
  border: 2px solid var(--background);
  margin: 0px;
  padding: 0px;
  padding-left: 5px;
}

input.error {
  border: 2px solid red;
}

.error-message {
  position: absolute;
  font-weight: bold;
  margin-top: 18em;
  margin-left: 4em;
  color: red;
}


.bottom {
    flex: 1;
    background-color: #a0adac;
    padding: 3em;
}

button {
  border-radius: 5px;
  border-width: 0;
  height: 50px;
  width: 225px;
  padding: 10;
  font-size: 20px;
  color: white;
  font-weight: bold;
  border: 0.005px solid var(--bannerVar2);
  background-color: var(--bannerVar);
}

button:hover {
  background-color: var(--bannerVar2);
}

button:active {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  border: 0.0005px solid silver;
  background-color: var(--bannerVar2);
}

#log-in-text {
  margin-top: 17px;
  margin-left: 6px;
}




@font-face {
    font-family: "custom-font";
    src: url("fonts/RacingSansOne-Regular.ttf");
}

@media only screen and (max-width: 1302px) {
    .main {
        display: flex;
        flex-direction: column;
    }
    .panel{
        width: 100vw;
    }
    .left{
        height: 12em;
    }
    .logo{
        margin-right: 2em;
    }
}

/*CSS Reset File*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}