:root {
    --background: #0B0C10;
}

.main {
    display: flex;
}

.panel {
    height: 100vh;
}

.left {
    background-image: url(Images/telecaster.jpg);
    background-size: cover;
    background-position: 50%;
    width: 30vw; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    margin-right: 0.6em;
    margin-left: 0.6em;
    filter: invert(92%) sepia(90%) saturate(3614%) hue-rotate(178deg) brightness(109%) contrast(108%);
}

.banner {
    width: 100%;
    padding: 10px;
    background-color: var(--background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: "custom-font";
    font-size: 2.7em;
    opacity: 0.75;
    
}

.right {
    width: 70vw; 
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#upper-text {
    font-size: 1.5em;
    font-family:'Times New Roman', Times, serif;
    color: aliceblue;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

form {
    flex: 2;
}

@font-face {
    font-family: "custom-font";
    src: url("fonts/RacingSansOne-Regular.ttf");
}

@media only screen and (max-width: 1250px) {
    .main {
        display: flex;
        flex-direction: column;
    }
    .panel{
        width: 100vw;
    }
    .left{
        height: 12em;
    }
    .logo{
        margin-right: 2em;
    }
}

/*CSS Reset File*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}